# Auto detect text files and perform LF normalization
* text=auto

Hallo 

a. Titel 
b. Keywords 
c. Abstract
d. Introduction
e. Methods 
f. Results 
g. Discussion

References 

=> blalal lalala

Feedback: hat alles gut geklappt; mein Interent war einfach nicht so gut und und dadurch hat alles ein weniger länger gedauert. Vielleicht ist mein Comupter aber auch einfach nicht mehr der schnellste. Bis morgen! 